p {

background-color: aqua;
padding-left: 20%;
border-radius: 2px;
border-color: aquamarine;

}

body {
background-color: blue;


}

h1 {

text-align: center;
color: chartreuse;





}

ol{
   list-style-type: upper-alpha; 
}